@use 'styles/utils';

.container {
}

.label {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
}

.require {
  position: relative;
  top: 2px;
  margin-left: 0.5rem;
  font-size: 1.3rem;
  color: utils.$invalidColor;
}
